* text=auto
.gitattributes text eol=lf
.gitignore text eol=lf
*.c text eol=lf
*.h text eol=lf
*.patch text eol=lf
*.md text eol=lf
*.sh text eol=lf
scripts/* text eol=lf
*.service text eol=lf
*.conf.example text eol=lf
