# GVT QEMU VM config.
# Install as /etc/gvt-qm/win10.conf, then run:
#   gvt-qm start win10

QEMU_DIR=/root/qemu_cmd
QEMU_BIN=/usr/local/src/project/qemu/build/qemu-system-x86_64

VM_DISK=/root/qemu_cmd/win10-gvtg.qcow2
VGPU_UUID=e582c6f5-e5cd-4a8e-9443-55a013e9f193
RENDER_NODE=/dev/dri/renderD128

TAP_IF=tap-win10
BR_IF=br0
MAC=52:54:00:10:00:88

VCPUS=4
MEMORY_MIB=4096

# Client connects to this control TCP port. QEMU sends video RTP on the same
# numeric UDP port after the client asks it to start streaming.
VIDEO_PORT=5004
SPICE_PORT=5900
INPUT_PORT=5905
CODEC=h264

QEMU_LOG=/root/qemu_cmd/win10-gvt-stream-manual.log
PID_FILE=/root/qemu_cmd/win10-gvt-stream-manual.pid
MONITOR_SOCK=/root/qemu_cmd/win10-gvt-stream-monitor.sock
QMP_SOCK=/root/qemu_cmd/win10-gvt-stream-qmp.sock

CAPTURE_MS=17
IDLE_CAPTURE_MS=17
IDLE_AFTER_MS=0
IDLE_PROBE_MS=0
ENCODE_FPS=59
ENCODE_BITRATE=18000
ENCODE_KEYINT=59
RTP_MTU=1400
